.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store

/app/build
/app/app.iml
/app/libs


/build
/captures
/reports
/.navigation
/.idea/inspectionProfiles/
