<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.melove.demo.chat">

    <!-- 项目权限 -->
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 安装卸载文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 唤醒锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.MLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MLTheme.Red">

        <!-- 主界面 -->
        <activity
            android:name=".activity.MLSigninActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name=".activity.MLMainActivity"
            android:screenOrientation="portrait" />
        <!--  -->
        <activity
            android:name=".activity.MLBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Red" />
        <!-- 注册界面 -->
        <activity
            android:name=".activity.MLSignupActivity"
            android:screenOrientation="portrait" />
        <!--好友申请与通知以及添加界面-->
        <activity
            android:name=".activity.MLNewApplyForActivity"
            android:screenOrientation="portrait" />
        <!--账户信息界面-->
        <activity
            android:name=".activity.MLUserInfoActivity"
            android:screenOrientation="portrait" />
        <!--聊天界面-->
        <activity
            android:name=".activity.MLChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 设置环信appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="lzan13#hxsdkdemo" />

    </application>

</manifest>
