<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.melove.app.chat">

    <!-- 项目权限配置 -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 允许读写系统设置项 使用设置时需要 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 读取启动设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

    <!-- 音视频通话所需权限 -->
    <!-- 唤醒锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 非必需权限 -->
    <!-- 开机自启动 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <!--获取当前和最近执行的任务
    TODO 已被弃用后期可能会添加另一个权限 REAL_GET_TASKS
    TODO https://android.googlesource.com/platform/frameworks/base/+/2d7576b%5E!/-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 安装卸载文件系统 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <!-- 改变WIFI状态 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> -->
    <!-- 读取描述文件 -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE"/> -->
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <!-- Demo新添加的一些属性 -->
    <!-- 访问GMail账户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 使用证书 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <!-- 管理账户 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!-- 验证账户 -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- 连续广播（允许一个程序收到广播后快速收到下一个广播） -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <!-- 配置 Google 推送需要的权限 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission
        android:name="net.melove.app.chat.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
        />
    <uses-permission android:name="net.melove.app.chat.permission.C2D_MESSAGE"/>
    <!--gcm end-->
    <!--小米推送自定义权限-->
    <permission
        android:name="net.melove.app.chat.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="net.melove.app.chat.permission.MIPUSH_RECEIVE"/>

    <!-- 程序的入口 -->
    <application
        android:name=".app.MLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ml_app_name"
        android:theme="@style/MLTheme.Default">

        <!-- Activity的基类 -->
        <activity
            android:name=".app.MLBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"/>
        <!-- 被踢弹出类 -->
        <!-- 主界面 -->
        <activity
            android:name=".app.MLMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name=".sign.MLSignInActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 注册界面 -->
        <activity
            android:name=".sign.MLSignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--申请与通知界面-->
        <activity
            android:name=".apply.MLApplyForActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 账户信息界面 -->
        <activity
            android:name=".contacts.MLUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"/>
        <!-- 聊天界面 -->
        <activity
            android:name=".chat.MLChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--视频通话界面-->
        <activity
            android:name=".call.MLVideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/MLTheme.Transparent"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"/>
        <!--语音通话界面-->
        <activity
            android:name=".call.MLVoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Transparent"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"/>
        <!--显示大图界面 使用半透明主题-->
        <activity
            android:name=".chat.MLBigImageActivity"
            android:theme="@style/MLTheme.Translucent"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"/>
        <!-- 搜索界面 -->
        <activity
            android:name=".app.MLSearchActivity"
            android:theme="@style/MLTheme.Default"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".setting.MLSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MLTheme.Default"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 测试 Activity -->
        <activity
            android:name=".test.MLTestActivity"
            android:theme="@style/MLTheme.Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.melove.app.chat.app.MLBaseActivity"/>
        </activity>
        <!-- Activity 注册 end -->

        <!--通话广播监听-->
        <receiver
            android:name=".call.MLCallReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>


        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="${em_appkey}"/>
        <!--配置私有化聊天地址-->
        <!--<meta-data-->
        <!--android:name="EASEMOB_CHAT_ADDRESS"-->
        <!--android:value="im.easemob.com"/>-->
        <!--&lt;!&ndash;配置私有化聊天端口&ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="EASEMOB_CHAT_PORT"-->
        <!--android:value="443"/>-->
        <!--&lt;!&ndash;配置私有化rest接口地址&ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="EASEMOB_API_URL"-->
        <!--android:value="a1.easemob.com:80"/>-->

        <!--声明sdk所需的 Service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"
            android:process=":MLChat"/>
        <!-- 声明 SDK 所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 环信sdk配置 end -->

        <!--GCM 推送配置-->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="net.melove.app.chat"/>
            </intent-filter>
        </receiver>
        <!--接收 GCM 推送的本地 Service-->
        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false">
        </service>
        <!--自定义实现 GCM 推送信息接收处理类-->
        <receiver
            android:name=".receiver.MLGCMBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push"/>
                <category android:name="net.melove.app.chat"/>
            </intent-filter>
        </receiver>
        <!--GCM推送配置 end-->

        <!--华为推送推送配置-->
        <!-- 第三方相关, 接收Push消息（注册、Push消息、Push连接状态、标签，LBS上报结果）广播 -->
        <receiver android:name=".receiver.MLHWPushReceiver">
            <intent-filter>
                <!-- 必须,用于接收token-->
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <!-- 必须，用于接收消息-->
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调-->
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <!-- 可选，查看push通道是否连接，不查看则不需要-->
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
                <!-- 可选，标签、地理位置上报回应，不上报则不需要 -->
                <action android:name="com.huawei.android.push.plugin.RESPONSE"/>
            </intent-filter>
            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="successRateAnalytics"/>
        </receiver>
        <!-- 备注：Push相关的android组件需要添加到业务的AndroidManifest.xml, Push相关android组件运行在另外一个进程是为了防止Push服务异常而影响主业务 -->
        <!-- PushSDK:PushSDK接收外部请求事件入口 -->
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
                <action android:name="com.huawei.intent.action.PUSH_ON"/>
                <action android:name="com.huawei.android.push.PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.huawei.android.pushagent.PushBootReceiver"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTER"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <meta-data
                android:name="CS_cloud_version"
                android:value="\u0032\u0037\u0030\u0035"/>
        </receiver>
        <!-- PushSDK:Push服务 -->
        <service
            android:name="com.huawei.android.pushagent.PushService"
            android:process=":pushservice">
        </service>
        <!--华为推送 end-->
        <!-- 小米推送 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>

        <receiver
            android:name=".receiver.MLMiPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>
        <!--小米推送 end-->

        <!--这里使用TalkingData进行数据统计-->
        <meta-data
            android:name="TD_APP_ID"
            android:value="${td_app_id}"/>
        <!-- 设置多渠道打包的渠道名，TD_CHANNEL_ID 是渠道名占位符-->
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${td_channel_id}"/>

    </application>

</manifest>